doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    navigation 
      a(href="/") HOME
      a(href="/new") NEW
      a(href="/data") SHOW DATA
      a(href="/deletedoc") DELETE DOC
    block content
